# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/

# Env variables
.env

# VSCode / Cursor
.vscode/
.cursor/

# OS
.DS_Store
Thumbs.db

# Frontend (build y dependencias)
frontend/node_modules/
frontend/dist/